.loading {
    filter: blur(3px); /* Apply blur effect */
    pointer-events: none; /* Prevent user interaction */
  }

.favoritesPage{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take full height of the viewport */
}

.favoritesContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 90vh;
    overflow-y: auto;
    height: 90%;
}

.resultHeader{
    font-family: 'Maven Pro', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.imageWrapper{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    max-height: 230px;
    height: 230px;
}

.image{
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

.textContainer{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    width: 100%; /* Change width to 100% */
    text-align: center;
}

.resultsName{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3%;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis;
    font-family: 'Maven Pro', sans-serif;
}

.resultsAddress{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    font-family: 'Maven Pro', sans-serif;
}

.resultsContainer{
    width: 30%;
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resultsWrapper{
    padding-bottom: 30px;
}

.resultsCard{
    display: flex;
    cursor: pointer;
    background-color: #F7F7F7;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%; /* Take full height of topResultContainer */
    width: 100%;
    padding-bottom: 10px;
}

.buttonWrapper{
    padding-bottom: 20px;
}

.button{
    height: 30px;
    width: 20%;
    background-color: #6E25CB;
    color: #FFFFFF;
    border-radius: 10px;
    border-color: #6E25CB;
    border-style: solid;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
}
