.locationPage{
    background-color: #494D5F;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take full height of the viewport */
}

.locationContainer{
    flex: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.headerWrapper{
    position: absolute;
    width: 90%;
    left: 10%;
    display: flex;
    justify-content: space-between; /* Add space between items */
    align-items: center;
    top: 10%; /* Adjust the top position as needed */
}

.address{
    position: absolute;
    right: 15.5%; /* Position .address to the right side */
    font-weight: bold;
    font-size: 16px;
}

.addressMoved{
    position: absolute;
    right: 11.5%; /* Position .address to the right side */
    font-weight: bold;
    font-size: 16px;
}

.descriptionWrapper{
    position: absolute;
    width: 90%;
    left: 10%;
    display: flex;
    align-items: center;
    top: 21%; /* Adjust the top position to position it underneath headerWrapper */
}

.description{
    width: 40%;
}

.favoriteButton {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 11.5%;
    border-radius: 50%; /* Makes the button circular */
    background-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

.heartIcon {
    color: white; /* Default color for the heart */
}

.favoriteButton.clicked .heartIcon {
    color: red; /* Color of heart when clicked */
}


.imageContainer{
    position: absolute;
    bottom: 5%; /* Adjust the distance from the bottom as needed */
    left: 10%;
}
