.loginPage{
    background-color: #494D5F;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginContainer{
    background-color: #8458B3;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    color: black;
    text-align: center;
    width: 100%;
}

.header{
    text-align: left;
    padding-left: 12%;
}

.emailContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.emailInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
}

.passwordContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.passwordInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
}

.errorMessage{
    font-size: 75%;
}

.buttonContainer{
    justify-content: center;
    padding: 30px;
}

.button{
    height: 40px;
    width: 50%;
    background-color: black;
    color: #E5EAF5;
    border-radius: 15px;
}

.signupContainer{
    text-align: center;
    width: 50%;
}

/* Links get translated to a href so changing all link text color to black*/
a{
    color: black;
}