.signupPage{
    background-image: url('../images/background.png');
    background-size: cover;
    background-position-y: -130px; /* Move the background up from the image */
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take full height of the viewport */
}

.signupContainer{
    flex: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.signupWrapper{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 180px;
}

.inputContainer{
    color: black;
    text-align: center;
    width: 100%;
    font-family: 'Maven Pro', sans-serif;
}

.nameContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.firstnameContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-bottom: 20px;
    width: 42.5%;
}

.lastnameContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-bottom: 20px;
    width: 42.5%;
}

.firstnameInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}

.lastnameInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}

.emailContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.emailInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}

.passwordContainer{
    justify-content: center;
    display: flex;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.passwordInput{
    border: none;
    outline: none;
    width: 75%;
    background-color: #E5EAF5;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}

.errorMessage{
    font-size: 75%;
}

.buttonContainer{
    justify-content: center;
    padding: 30px
}

.button{
    height: 40px;
    width: 50%;
    background-color: #6E25CB;
    border-color: #6E25CB;
    color: #FFFFFF;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}